# Build tools (fix Render deploy error)
setuptools
wheel

# Core ML & data packages
numpy
scipy
pandas
scikit-learn
statsmodels
plotly
seaborn

# Web / API
Flask
uvicorn
watchfiles
httpx
aiofiles
httptools
websockets
python-multipart
jinja2
Werkzeug

# AWS
boto3
mypy-boto3-s3
types-s3transfer

# Database
pymongo
dnspython
cassandra-driver
database-connect
python-dotenv

# ML utilities
evidently
xgboost
imbalanced-learn
neuro-mf
dill

# Misc / utils
pip-chill
ensure
PyYAML
rich
typing-extensions
